body {
  background-color:	#5DAA68;
}
h1 {
  color: 	#FAF1CF;font-size:75px;

}
h2 {
  color: #FAF1CF;font-size:40px;

}
h3 {
  color: #FAF1CF;font-size:20px;

}
p {
  color: #3F6844;
  background:	#FAF1CF;
}
