body {
  background-color:	#b1c6c9;
}
h1 {
  color: 	#253550;font-size:75px;
  font-family: 'Courier New', monospace;
}
nav {
  color: 	#253550;font-size:20px;
  font-family: 'Courier New', monospace;
}
h3 {
  color: 	#253550;font-size:20px;
  font-family: 'Courier New', monospace;
}
p {
  color: 	#253550;
  background:#dde6e5;
  line-height: 1.9;
  font-family: 'Courier New', monospace;
}
