body {
  background-color:	#262624;
}
h1 {
  color: 	#b6b19b;font-size:75px;
  font-family: 'Courier New', monospace;
}
h2 {
  color: #b6b19b;font-size:40px;
  font-family: 'Courier New', monospace;
}
h3 {
  color: 	#b6b19b;font-size:20px;
  font-family: 'Courier New', monospace;
}
p {
  color: 	#b6b19b;
  background:	#595448;
  line-height: 1.9;
  font-family: 'Courier New', monospace;
